<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title th:utext="#{msg.thymeleaf.pageheading.adminoffice}"></title>
<style type="text/css">
</style>
</head>
<body class="admin-office">
	<div th:replace="header/menuHeader :: var-script-header"></div>
	<div th:replace="header/menuHeader :: varmenuheader"></div>
	<div class="container min-height-600">
		<div class="breadcrumbMain">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<!--   <li class="breadcrumb-item homelinkbd"><a href="#">Home</a></li> -->
					<li class="breadcrumb-item"><a href="#"><span
							th:utext="#{msg.thymeleaf.pagelabel.masterBD}"></span></a></li>
					<li class="breadcrumb-item active" aria-current="page"><span
						th:utext="#{msg.thymeleaf.pageheading.adminoffice}"></span></li>
				</ol>
			</nav>
		</div>
		<h3 Class="PageHeading">
			<span th:utext="#{msg.thymeleaf.pageheading.adminoffice}"></span>
		</h3>

		<div class="formMainwithNoborTb container">
			<div id="content" style="background: :#f0ebe8;">
				<script type="text/javascript">
					function preventBack() {
						window.history.forward();
					}
					setTimeout("preventBack()", 0);
					window.onunload = function() {
						null
					};
				</script>
				<script type="text/javascript" src="script/common/validation.js"></script>
				<script type="text/javascript"
					src="script/common/tagLibValidation.js"></script>
				<script language="JavaScript" src="script/dcps/dcpsvalidation.js"></script>
				<script type="text/javascript"
					src="script/common/commonfunctions.js"></script>
				<script type="text/javascript" src="script/common/tabcontent.js"></script>
				<script type="text/javascript"
					src="script/common/script/calendar.js">
					
				</script>
				<script type="text/javascript" src="/script/common/addRecord.js"></script>
				<script type="text/javascript"
					src="/script/exptracking/zp_admin_ofc/admin/zpAdminOffice.js"></script>
				<style type="text/css">
#schemeName {
	visibility: hidden;
}

#schemeNameLabel {
	visibility: hidden;
}
</style>
				<script type="text/javascript">
					function setSchemeCode() {
						document.getElementById("txtDcpsShemeCode").value = document
								.getElementById("cmbSchemeName").value;
					}

					function getGRDate() {
						//alert("getGRDate Calling");
						var GRNO = document.getElementById("GrNo").value;
						document.getElementById("cmbGrNo").value = GRNO;
						//alert(GRNO);
						var url = "ifms.htm?actionFlag=retriveDateFromGRNo&cmbGrNo="
								+ GRNO;
						//document.ZpAdminOffice.action = url ;
						//	document.ZpAdminOffice.submit(); 

						//var url = "";
						var myAjax = new Ajax.Request(url, {
							method : 'post',
							asynchronous : true,
							parameters : url,
							onSuccess : function(myAjax) {

								dispGrDate(myAjax);

							},
							onFailure : function() {
								alert('Something went wrong...');
							}
						});
					}

					function dispGrDate(myAjax) {

						document.getElementById("txtDcpsGRDate").value = "";
						var XMLDoc = myAjax.responseXML.documentElement;
						var XmlHiddenValues = XMLDoc
								.getElementsByTagName('value');
						var GRDate = XmlHiddenValues[0].firstChild.nodeValue;
						document.getElementById("txtDcpsGRDate").value = GRDate;

					}

					function popUpSchemeName() {
						if (document.getElementById) { // DOM3 = IE5, NS6
							document.getElementById('schemeName').style.visibility = 'visible';
							document.getElementById('schemeNameLabel').style.visibility = 'visible';
						} else {
							if (document.layers) { // Netscape 4
								document.getElementById('schemeName').style.visibility = 'visible';
								document.getElementById('schemeNameLabel').style.visibility = 'visible';
							} else { // IE 4
								document.getElementById('schemeName').style.visibility = 'visible';
								document.getElementById('schemeNameLabel').style.visibility = 'visible';
							}
						}
						var txtSchemeCode = document
								.getElementById("txtDcpsShemeCode").value;
						if (txtSchemeCode.length >= 4) {
							var uri = "ifms.htm?actionFlag=displaySchemeNameForCode&txtSchemeCode="
									+ txtSchemeCode;
							var url = "txtSchemeCode=" + txtSchemeCode;

							var myAjax = new Ajax.Request(uri, {
								method : 'post',
								asynchronous : false,
								parameters : url,
								onSuccess : function(myAjax) {
									getDataStateChangedForPopUpSchemes(myAjax);
								},
								onFailure : function() {
									alert('Something went wrong...')
								}
							});
						} else {
							var cmbSchemeName = document
									.getElementById('cmbSchemeName');
							cmbSchemeName.options.length = 0;
							var optn = document.createElement("OPTION");
							optn.text = "-- Select --";
							optn.value = "-1";
							cmbSchemeName.options.add(optn);
						}
					}

					function getDataStateChangedForPopUpSchemes(myAjax) {
						XMLDoc = myAjax.responseXML.documentElement;
						var XmlHiddenValues = XMLDoc
								.getElementsByTagName('XMLDOC');
						var cmbSchemeName = document
								.getElementById('cmbSchemeName');
						cmbSchemeName.options.length = 0;
						var optn = document.createElement("OPTION");
						optn.text = "-- Select --";
						optn.value = "-1";
						cmbSchemeName.options.add(optn);

						var totalSchemes = XmlHiddenValues[0].childNodes[0].firstChild.nodeValue;
						if (totalSchemes <= 0) {
							alert("Please enter valid Scheme code.There is no scheme starting with "
									+ document
											.getElementById("txtDcpsShemeCode").value);
							document.getElementById("txtDcpsShemeCode").value = "";
							document.getElementById('schemeName').style.visibility = 'hidden';
							document.getElementById('schemeNameLabel').style.visibility = 'hidden';
							return false;
						}
						var optnScheme;

						var count = 1;
						while (count <= (2 * totalSchemes)) {
							optnScheme = document.createElement("OPTION");
							optnScheme.text = XmlHiddenValues[0].childNodes[count].firstChild.nodeValue;
							optnScheme.title = XmlHiddenValues[0].childNodes[count + 1].firstChild.nodeValue;
							optnScheme.value = XmlHiddenValues[0].childNodes[count + 1].firstChild.nodeValue;
							document.getElementById("cmbSchemeName").options
									.add(optnScheme);
							count = count + 2;
						}

						alert("Please selcet scheme from scheme Name option");
					}

					function adminCodecopytoOfficeCode() {
						document.getElementById('txtCode').value = document
								.getElementById('cmbAdminOfficeName').value;
						var cmbObj = document
								.getElementById('cmbAdminOfficeName');
						var comVal = cmbObj.options[cmbObj.selectedIndex].text;
						document.getElementById('txtAdminOfficeName').value = comVal;
					}
				</script>
				<form method="post" action="ifms.htm?actionFlag=save_ZpAdminOffice"
					name="ZpAdminOffice" enctype="multipart/form-data">
					<input type="hidden" name="csrfToken"
						value="RNW6fFzwIugc3tkHIrb0mg=="> <input type="hidden"
						name="updateFlag" value="true" id="updateFlag"> <input
						type="hidden" name="currentDate" value="" id="currentDate">

					<div id="tcontent1">
						<table class="table bor-0">
							<tbody>
								<tr>
									<td><label class="captionTag"
										id="ZPADMINOFFICE_ADMIN_OFFICE_NAME">Admin Office Name</label></td>
									<td><select name="cmbAdminOfficeName"
										id="cmbAdminOfficeName"
										onchange="adminCodecopytoOfficeCode(this);">
											<option value="-1">Select</option>
											<option value="01" disabled="disabled">State
												Government</option>
											<option value="02">Zilla Parishad</option>
											<option value="03">Private Aided School, Primary</option>
											<option value="04">Private Aided School, Secondary</option>
											<option value="05">Private Aided School, Higher
												Secondary</option>
											<option value="06">Private Aided Higher Education</option>
											<option value="07" selected="selected" disabled="disabled">
												Private Aided Technical Education</option>
											<option value="08">Private Aided Medical Education</option>
											<option value="09">Private Aided Agricultural
												Education</option>
											<option value="10">Agricultural University</option>
											<option value="11">Non Agricultural University</option>
											<option value="12">Municipal Corporation Primary
												School</option>
											<option value="13">Municipal Council Primary School
											</option>
											<option value="14">Private Aided Institution under
												Tribal Development Department</option>
											<option value="15">Private Aided Institution under
												Social Justice Department</option>
											<option value="16">Private Aided Institution under
												A. D. F. Department</option>
											<option value="17">Private Aided Institution under
												Water Resources Department</option>
											<option value="18">Private Aided Institution under
												Women and Child Development Department</option>
											<option value="19">Private Aided Vocational
												Education</option>
											<option value="20">Private Aided Arts</option>
											<option value="21">D.Ed. Colleges</option>
											<option value="22">Cantonment Boards</option>
											<option value="23">Night School</option>
											<option value="24">Practising School</option>
											<option value="25">Sainik School</option>
											<option value="26">Municipal Corporation Secondary
												School</option>
											<option value="27">Municipal Council Secondary
												School</option>
											<option value="29">Scoutes and Guides Offices</option>
											<option value="31">University</option>
									</select> <input type="hidden" value="Private Aided Technical Education"
										name="txtAdminOfficeName" id="txtAdminOfficeName"></td>
								</tr>
								<tr>
									<td><label class="captionTag"
										id="ZPADMINOFFICE_DCPS_Scheme_Code">Scheme Code</label></td>
									<td><input type="text" name="txtDcpsShemeCode"
										id="txtDcpsShemeCode" onblur="chkEnteredSchemeLength();"
										onkeyup="popUpSchemeName();" class="texttag mandatorycontrol"
										value="12345" maxlength="10/">&nbsp;&nbsp;<label
										class="mandatoryindicator">*</label></td>
									<td>
										<div id="schemeNameLabel">
											<label class="captionTag" id="CMN.SCHEMENAME">Scheme
												Name</label>
										</div>
									</td>
									<td colspan="3">
										<div id="schemeName">
											<select name="cmbSchemeName" onchange="setSchemeCode();"
												id="cmbSchemeName" class="selecttag">
												<option value="-1">-- Select --</option>
											</select> <label class="mandatoryindicator">*</label>
										</div>
									</td>
								</tr>
								<tr>
									<td><label class="captionTag"
										id="ZPADMINOFFICE_DCPS_GR_NO">Gr No</label></td>
									<td><select name="GrNo" id="GrNo" onchange="getGRDate();">
											<option value="-1">Select</option>
									</select> <input type="hidden" value="" name="cmbGrNo" id="cmbGrNo">
									</td>
									<td colspan="4">&nbsp;</td>
								</tr>
								<tr>
									<td><label class="captionTag"
										id="ZPADMINOFFICE_DCPS_GR_DATE">Gr Date</label></td>
									<td><input type="text" name="txtDcpsGRDate"
										id="txtDcpsGRDate" onblur="validateDate(this);chkDate(this);"
										class="texttag disabledcontrol"
										onkeypress="digitFormat(this);dateFormat(this);" value=""
										readonly="" maxlength="10/" placeholder="DD/MM/YYYY">
										<label class="mandatoryindicator">*</label></td>
									<td colspan="4">&nbsp;</td>
									<td colspan="6">&nbsp;</td>
								</tr>
								<tr>
									<td><label class="captionTag"
										id="ZPADMINOFFICE_DCPS_OFF_NAME">Deputy SRKA</label></td>
									<td><select name="txtDcpsOffName" id="txtDcpsOffName">
											<option value="Chief Accounts and Finance Officer Z.P.">Chief
												Accounts and Finance Officer Z.P.</option>
											<option value="Deputy Director, Education">Deputy
												Director, Education</option>
											<option value="Comptroller,MAFS University,Nagpur">Comptroller,MAFS
												University,Nagpur</option>
											<option value="Assistant Tribal Commissioner">Assistant
												Tribal Commissioner</option>
											<option value="Regional Joint Director">Regional
												Joint Director</option>
											<option value="Regional Deputy Commissioner,Social Welfare">Regional
												Deputy Commissioner,Social Welfare</option>
											<option value="Regional Deputy Commissioner,Social Welfare">Regional
												Deputy Commissioner,Social Welfare</option>
											<option
												value="Comptroller,Mahatma Phule Agriculture University,Rahuri">Comptroller,Mahatma
												Phule Agriculture University,Rahuri</option>
											<option
												value="Comptroller,Dr. Babasaheb Sawant kokan Agriculture University,Dapoli">Comptroller,Dr.
												Babasaheb Sawant kokan Agriculture University,Dapoli</option>
											<option
												value="Comptroller,Dr.Punjabrao Deshmukh Agriculture University,Akola">Comptroller,Dr.Punjabrao
												Deshmukh Agriculture University,Akola</option>
											<option
												value="Comptroller,Marathwada Agriculture University,Parbhani">Comptroller,
												Marathwada Agriculture University,Parbhani</option>
									</select></td>
									<td colspan="4"></td>
								</tr>
								<tr>
									<td><label class="captionTag" id="ZPADMINOFFICE_CODE">Office
											Code</label></td>
									<td><input type="text" name="txtCode" id="txtCode"
										class="texttag disabledcontrol mandatorycontrol" value="07"
										readonly="" maxlength="10/">&nbsp;&nbsp;<label
										class="mandatoryindicator">*</label></td>
									<td colspan="4">&nbsp;</td>
								</tr>
								<tr>

									<td colspan="4"><input type="hidden" name="hdnOfcId"
										value="991000085" id="hdnOfcId"></td>
								</tr>

							</tbody>
						</table>
						<div class="text-center">
							<input type="button" name="btnSave"
								onclick="fnZpAdminOfficeSave();" id="btnSave" value="Save"
								size="3" maxlength="3" class="buttontag"> <input
								type="button" name="btnCancel" onclick="fnZpAdminOfficeClose();"
								id="btnCancel" value="Cancel" size="3" maxlength="3"
								class="buttontag">
						</div>
					</div>
					<script language="JavaScript">
						setForm('ZpAdminOffice');
						sortSingle(document.getElementById('cmbSchemeName'))
					</script>
				</form>
			</div>
		</div>
	</div>

	<div th:replace="header/menuHeader :: varmenufooter"></div>
	<script th:src="@{/js/project/mst-bank.js}"></script>
</body>
</html>