<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title th:utext="#{msg.thymeleaf.pageheading.adminofficemst}"></title>
<style type="text/css">
</style>
</head>
<body class="admin-office-master">
	<div th:replace="header/menuHeader :: var-script-header"></div>
	<div th:replace="header/menuHeader :: varmenuheader"></div>
	<div class="container min-height-600">
		<div class="breadcrumbMain">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<!--   <li class="breadcrumb-item homelinkbd"><a href="#">Home</a></li> -->
					<li class="breadcrumb-item"><a href="#"><span
							th:utext="#{msg.thymeleaf.pagelabel.masterBD}"></span></a></li>
					<li class="breadcrumb-item active" aria-current="page"><span
						th:utext="#{msg.thymeleaf.pageheading.adminofficemst}"></span></li>
				</ol>
			</nav>
		</div>
		<h3 Class="PageHeading">
			<span th:utext="#{msg.thymeleaf.pageheading.adminofficemst}"></span>
		</h3>

		<div class="formMainwithNoborTb container">
			<div id="content" style="background: :#f0ebe8;">

				<form method="post" action="" name="searchZpAdminOffice"
					enctype="multipart/form-data">

					<legend> Offices</legend>
					<table class="datatable table table-bordered" id="row">
						<thead>
							<tr>
								<th class="datatableheader">Sr No</th>
								<th class="datatableheader">Office Code</th>
								<th class="datatableheader">Admin Office Name</th>
							</tr>
						</thead>
						<tbody>
							<tr class="odd">
								<td class="oddcentre" style="text-align: center">1</td>
								<td class="tablecelltext" style="text-align: center">07</td>
								<td class="tablecelltext" style="text-align: center"><a
									th:href="@{/mdc/adminOffice}">Private Aided Technical
										Education</a></td>
							</tr>
							<tr class="even">
								<td class="oddcentre" style="text-align: center">2</td>
								<td class="tablecelltext" style="text-align: center">19</td>
								<td class="tablecelltext" style="text-align: center"><a
									href="#">Private Aided Vocational Education</a></td>
							</tr>
							<tr class="odd">
								<td class="oddcentre" style="text-align: center">3</td>
								<td class="tablecelltext" style="text-align: center">06</td>
								<td class="tablecelltext" style="text-align: center"><a
									href="#">Private Aided Higher Education</a></td>
							</tr>
							<tr class="even">
								<td class="oddcentre" style="text-align: center">4</td>
								<td class="tablecelltext" style="text-align: center">20</td>
								<td class="tablecelltext" style="text-align: center"><a
									href="#">Private Aided Arts</a></td>
							</tr>
							<tr class="odd">
								<td class="oddcentre" style="text-align: center">5</td>
								<td class="tablecelltext" style="text-align: center">31</td>
								<td class="tablecelltext" style="text-align: center"><a
									href="#">University</a></td>
							</tr>
						</tbody>
					</table>
					<br />

					<div class="text-center">
						<input type="button" name="btnCancel" onclick="history.back()"
							id="btnCancel" value="Cancel" size="3" maxlength="3"
							class="buttontag">
					</div>
				</form>
			</div>
		</div>
	</div>

	<div th:replace="header/menuHeader :: varmenufooter"></div>
	<script th:src="@{/js/project/mst-bank.js}"></script>
</body>
</html>