<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title th:utext="#{msg.thymeleaf.pageheading.empEligibilityforbulk}"></title>
</head>
<body class="allowance-deduction-to-bulk-emp">
	<div th:replace="header/menuHeader :: var-script-header"></div>
	<div th:replace="header/menuHeader :: varmenuheader"></div>
	<div class="container min-height-600">
		<div class="breadcrumbMain">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<!--   <li class="breadcrumb-item homelinkbd"><a href="#">Home</a></li> -->
					<li class="breadcrumb-item"><a href="#"><span
							th:utext="#{msg.thymeleaf.pagelabel.payrollBD}"></span></a></li>
					<li class="breadcrumb-item active" aria-current="page"><span
						th:utext="#{msg.thymeleaf.pageheading.empEligibilityforbulk}"></span></li>
				</ol>
			</nav>
		</div>
		<h3 Class="PageHeading">
			<span th:utext="#{msg.thymeleaf.pageheading.empEligibilityforbulk}"></span>
		</h3>

		<div class="formMainwithNoborTb container">


			<table class="table bor-0">
				<tbody>
					<tr>
						<td colspan="4">
							<p style="color: red;">Note:Please Select Type Of Component
								and Pay Item First.</p>
						</td>
					</tr>
					<tr>
						<td class="Label" width="30%" align="justify"><b><label
								class="captionTag" id="bulk.componentType">Type Of
									Component</label></b></td>
						<td width="20%" align="justify"><select name="cmpType"
							id="cmpType" class="selecttag mandatorycontrol">
								<option value="">------Select-------</option>
								<option value="2500134">Allowances</option>
								<option value="2500135">Deductions</option>
						</select>&nbsp;&nbsp;<label class="mandatoryindicator">*</label></td>
						<td class="Label" width="30%" align="center"><b><label
								class="captionTag" id="bulk.payItem">Select Pay-Item</label></b></td>
						<td class="Label" width="20%" align="justify"><select
							name="payItemCombo" id="payItemCombo"
							class="selecttag mandatorycontrol">
								<option value="">-------Select------</option>
						</select>&nbsp;&nbsp;<label class="mandatoryindicator">*</label></td>
					</tr>
					<tr>
						<td class="Label" width="30%" align="justify"><label
							class="captionTag">Bill Group</label></td>
						<td class="Label" colspan="" width="20%" align="justify"><select
							name="billcombo" id="billcombo">
								<option value="-1">----------------------Select----------------------</option>
								<option value="99201790770"
									title="Bill Group For Scheme IA-GRANTS TO UNIVERSITIS FOR GENERAL EDUCATION">Bill
									Group For Scheme IA-GRANTS TO UNIVERSITIS FOR GENERAL EDUCATION</option>
								<option value="992017907106"
									title="Bill Group For Scheme IA.1-GRANT TO NON-GOVT.  ARTS  , SCIENCE, COMMERCE ,LAW AND B.ED COLLEGES">Bill
									Group For Scheme IA.1-GRANT TO NON-GOVT. ARTS , SCIENCE,
									COMMERCE ,LAW AND B.ED COLLEGES</option>
						</select></td>
					</tr>
					<tr style="display: none">
						<td class="Label" width="30%" align="justify"><b><label
								class="captionTag" id="bulk.empByDesignation">Select
									Employee By Designation</label></b></td>
						<td class="Label" width="20%" align="justify"><select
							name="dsgnCombo" id="dsgnCombo" class="selecttag">
								<option value="">-----------Select-----------</option>
								<option value="1">-All Designation</option>
								<option value="DEFAULT">DEFAULT DESIGNATION</option>
						</select></td>
					</tr>
				</tbody>
			</table>


			<br>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th><b>Employee Name</b></th>
						<th><b> <font color="black"> <input
									type="checkbox" name="selcheckBoxAllowSelectAll" value="1"
									id="selcheckBoxAllowSelectAll" class="checkboxtag">
							</font>
						</b></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>

			<div align="center">
				<input type="button" name="Save" id="Save" value="Save" class="btn">
				<input type="button" name="btnBackAgain" id="btnBackAgain"
					onclick="history.back()" value="Back" class="buttontag">
			</div>
		</div>
	</div>
	<div th:replace="header/menuHeader :: varmenufooter"></div>
	<script>
		$(".empdetails").hide();
		function getEmpInfo() {
			$(".empdetails").fadeIn(100);
		}
	</script>
</body>
</html>