<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title th:utext="#{msg.thymeleaf.pagelabel.sysappr}"></title>
</head>

<body class="organization-institution-details">
	<div th:replace="header/menuHeader :: var-script-header"></div>
	<div th:replace="header/menuHeader :: varmenuheader"></div>
	<div class="container min-height-600 ">
		<div class="breadcrumbMain">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<!--   <li class="breadcrumb-item homelinkbd"><a href="#">Home</a></li> -->
					<li class="breadcrumb-item"><a href="#"><span
							th:utext="#{msg.thymeleaf.pagelabel.masterBD}"></span></a></li>
					<li class="breadcrumb-item active" aria-current="page"><span
						th:utext="#{msg.thymeleaf.pagelabel.sysappr}"></span></li>
				</ol>
			</nav>
		</div>
		<h3 Class="PageHeading">
			<span th:utext="#{msg.thymeleaf.pagelabel.sysappr}"></span>
		</h3>
		<div class="newpagecontent container">

			<form method="POST" name="DDOOfficeView">
				<input type="hidden" value="" name="hierarchy" id="hierarchy">
				<div id="tabmenu">
					<ul id="maintab" class="shadetabs">
						<li class="selected"><a href="#" rel="tcontent1"
							class="selected"><b>DDO OFFICE</b></a></li>
					</ul>
				</div>
				<div id="tcontent1"
					style="background-color: rgb(232, 227, 227); border-style: inset; border-color: rgb(178, 71, 0); border-width: thin; display: block;">
					<br>
					<!--  <span class="pagebanner">One Record found.</span><span class="pagelinks"><strong>1</strong></span> -->
					<table class="datatable bor-0 table" style="width: 100%" id="row">
						<thead>
							<tr>
								<th th:text="#{msg.thymeleaf.pagelabel.ddoCode}"></th>
								<th th:text="#{msg.thymeleaf.pagelabel.ddocodelevel2}"></th>
								<th th:text="#{msg.thymeleaf.pagelabel.hierarchylevel}"></th>
								<th th:text="#{msg.thymeleaf.pagelabel.status}"></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="VarDDO : ${zpDDOOfficelst}">
								<td><a><span th:text="${VarDDO.zpDdoCode}"></span></a></td>
								<td style="text-align: left" th:text="${VarDDO.reptDdoCode}"></td>
								<td style="text-align: left">2</td>
								<td style="text-align: left"><a
									th:href="@{'/ddo/approveRejectDtls/'+${VarDDO.zpDdoCode}}"></a>Click Hear To Approve/Reject</td><!--  -->
							</tr>
						</tbody>
					</table>
					<br>&nbsp; <input type="button" name="ViewReports"
						onclick="viewReports()" id="ViewReports" value="View Reports"
						size="3" maxlength="3" class="buttontag"> <br>
					<br>
					<script type="text/javascript">
						initializetabcontent("maintab")
					</script>
				</div>
			</form>

		</div>
	</div>
	<div th:replace="header/menuHeader :: varmenufooter"></div>
</body>

</html>