<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title
	th:utext="#{msg.thymeleaf.pageheading.empEligibilityforAllowancesDeductions}"></title>
</head>
<body class="allowance-deduction-to-bulk-emp">
	<div th:replace="header/menuHeader :: var-script-header"></div>
	<div th:replace="header/menuHeader :: varmenuheader"></div>
	<div class="container min-height-600">
		<div class="breadcrumbMain">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<!--   <li class="breadcrumb-item homelinkbd"><a href="#">Home</a></li> -->
					<li class="breadcrumb-item"><a href="#"><span
							th:utext="#{msg.thymeleaf.pagelabel.payrollBD}"></span></a></li>
					<li class="breadcrumb-item active" aria-current="page"><span
						th:utext="#{msg.thymeleaf.pageheading.empEligibilityforAllowancesDeductions}"></span></li>
				</ol>
			</nav>
		</div>
		<h3 Class="PageHeading">
			<span
				th:utext="#{msg.thymeleaf.pageheading.empEligibilityforAllowancesDeductions}"></span>
		</h3>

		<div class="formMainwithNoborTb container">

			<form method="POST" action="" name="EmpInfo" enctype="text/form-data">
				<a class="btn" th:href="@{/ddoast/allowanDeductBulkEmp}">Emp. Elligibility for
					Allwances/Deductions in Bulk </a><br /> <br />

				<legend>Search Employee </legend>
				<table class="table bor-0">
					<tbody>
						<tr>
							<td><b>Search With Name/HTESevaarthId</b></td>
							<td><input type="text"
								name="Employee_srchNameText_EmpInfoSearch" id="txtSearchName"
								class="texttag" value=""></td>
							<td width="50%" align="left" colspan="3"><input
								type="button" name="search_EmpInfoSearch"
								id="search_EmpInfoSearch" value="Search" size="3" maxlength="3"
								class="btn"></td>
						</tr>
						<tr>
							<td class="fieldLabel" width="25%"><b>Employee Id</b></td>
							<td><input type="text" name="Employee_Name_EmpInfoSearch"
								id="Employee_Name_EmpInfoSearch" value=""></td>
							<td class="fieldLabel" width="25%"><b>HTESevaarth Id</b></td>
							<td><input type="text" name="Emp_Sevarth_Id_EmpInfoSearch"
								id="Emp_Sevarth_Id_EmpInfoSearch" value=""></td>

						</tr>
						<tr>
							<td class="fieldLabel" width="25%"><b>Office Name</b></td>
							<td><input type="text" name="Police_ST_NM_EmpInfoSearch"
								id="Police_ST_NM_EmpInfoSearch" value=""></td>
							<td class="fieldLabel" width="25%"><label class="captionTag"
								id="Dsgn_NM">Designation </label></td>
							<td><input type="text" name="Dsgn_NM_EmpInfoSearch"
								id="Dsgn_NM_EmpInfoSearch" value=""></td>
						</tr>
						<tr>
							<td class="fieldLabel" width="25%"><label class="captionTag"
								id="DISTRICT_NM">District </label></td>
							<td><input type="text" name="DISTRICT_NM_EmpInfoSearch"
								id="DISTRICT_NM_EmpInfoSearch" value=""></td>
							<td class="fieldLabel" width="25%"><label class="captionTag"
								id="GPF_NM">GPF No.</label></td>
							<td><input type="text" name="GPF_NM_EmpInfoSearch"
								id="GPF_NM_EmpInfoSearch" value=""></td>
						</tr>
					</tbody>
				</table>

				<div class="text-center">
					<input type="button" name="viewAll" id="viewAll" value="View All"
						size="3" maxlength="3" class="btn"> <input type="button"
						name="btnBackAgain" id="btnBackAgain" onclick="history.back()"
						value="Back" class="buttontag">
				</div>

			</form>
		</div>
	</div>

	<div th:replace="header/menuHeader :: varmenufooter"></div>
	<script>
		$(".empdetails").hide();
		function getEmpInfo() {
			$(".empdetails").fadeIn(100);
		}
	</script>
</body>
</html>