<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title th:utext="#{msg.thymeleaf.pageheading.employeeLoanDetails}"></title>
</head>
<body class="emp-loan-details">
	<div th:replace="header/menuHeader :: var-script-header"></div>
	<div th:replace="header/menuHeader :: varmenuheader"></div>
	<div class="container min-height-600">
		<div class="breadcrumbMain">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<!--   <li class="breadcrumb-item homelinkbd"><a href="#">Home</a></li> -->
					<li class="breadcrumb-item"><a href="#"><span
							th:utext="#{msg.thymeleaf.pagelabel.payrollBD}"></span></a></li>
					<li class="breadcrumb-item active" aria-current="page"><span
						th:utext="#{msg.thymeleaf.pageheading.employeeLoanDetails}"></span></li>
				</ol>
			</nav>
		</div>
		<h3 Class="PageHeading">
			<span th:utext="#{msg.thymeleaf.pageheading.employeeLoanDetails}"></span>
		</h3>

		<div class="formMainwithNoborTb container">
			<div id="tcontent1">
				<br> &nbsp;&nbsp; <a th:href="@{/ddoast/addLoan}" id="inserLink" class="btn">
					Add new Entry </a> <br> &nbsp;&nbsp; <br>
				<form method="POST" action="" name="LoanEmp"
					enctype="text/form-data">
					<p id="">
						<legend>Search Employee </legend>
					</p>
					<table class="table bor-0">
						<tbody>
							<tr>
								<td><b>Search With Name/HTESevaarthId</b></td>
								<td><input type="text"
									name="Employee_srchNameText_EmpLoanSearch" id="txtSearchName"
									class="texttag" value="" autocomplete="off">
									<div id="ajaxAuto_txtSearchName" class="autocomplete"></div></td>
								<td width="50%" align="left" colspan="3"><input
									type="button" name="search_EmpLoanSearch"
									id="search_EmpLoanSearch" value="Search" class="btn"></td>
							</tr>
							<tr>
								<td class="fieldLabel" width="25%"><b>Employee Id</b></td>
								<td><input type="text" name="Employee_Name_EmpLoanSearch"
									id="Employee_Name_EmpLoanSearch"
									class="texttag disabledcontrol" value=""></td>
								<td class="fieldLabel" width="25%"><b>HTESevaarth Id</b></td>
								<td><input type="text" name="Emp_Sevarth_Id_EmpLoanSearch"
									id="Emp_Sevarth_Id_EmpLoanSearch"
									class="texttag disabledcontrol" value=""></td>
							</tr>
							<tr>
								<td class="fieldLabel" width="25%"><b>Office Name</b></td>
								<td><input type="text" name="Police_ST_NM_EmpLoanSearch"
									id="Police_ST_NM_EmpLoanSearch" class="texttag disabledcontrol"
									value=""></td>
								<td class="fieldLabel" width="25%"><label
									class="captionTag" id="Dsgn_NM">Designation </label></td>
								<td><input type="text" name="Dsgn_NM_EmpLoanSearch"
									id="Dsgn_NM_EmpLoanSearch" class="texttag disabledcontrol"
									value=""></td>
							</tr>
							<tr>
								<td class="fieldLabel" width="25%"><label
									class="captionTag" id="DISTRICT_NM">District </label></td>
								<td><input type="text" name="DISTRICT_NM_EmpLoanSearch"
									id="DISTRICT_NM_EmpLoanSearch" class="texttag disabledcontrol"
									value=""></td>
								<td class="fieldLabel" width="25%"><label
									class="captionTag" id="GPF_NM">GPF No.</label></td>
								<td><input type="text" name="GPF_NM_EmpLoanSearch"
									id="GPF_NM_EmpLoanSearch" class="texttag disabledcontrol"
									value=""></td>
							</tr>
						</tbody>
					</table>
				</form>
			</div>
			<div align="center">
				<input type="button" name="viewAll" id="viewAll" value="View All"
					size="3" maxlength="3" class="btn"> <input type="button"
					name="btnBackAgain" id="btnBackAgain" onclick="history.back()"
					value="Back" class="buttontag">
			</div>
		</div>
	</div>
	<div th:replace="header/menuHeader :: varmenufooter"></div>
</body>
</html>