<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title th:utext="#{msg.thymeleaf.pageheading.entryofposts}"></title>
</head>
<body class="entry-of-posts">
	<div th:replace="header/menuHeader :: var-script-header"></div>
	<div th:replace="header/menuHeader :: varmenuheader"></div>
	<div class="container min-height-600">
		<div class="breadcrumbMain">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<!--   <li class="breadcrumb-item homelinkbd"><a href="#">Home</a></li> -->
					<li class="breadcrumb-item"><a href="#"><span
							th:utext="#{msg.thymeleaf.pagelabel.dcpsBD}"></span></a></li>
					<li class="breadcrumb-item active" aria-current="page"><span
						th:utext="#{msg.thymeleaf.pageheading.entryofposts}"></span></li>
				</ol>
			</nav>
		</div>
		<h3 Class="PageHeading">
			<span th:utext="#{msg.thymeleaf.pageheading.entryofposts}"></span>
		</h3>

		<div class="formMainwithNoborTb container">
			<form method="post" action="" name="frmAdminCrtPost"
				enctype="multipart/form-data">
				<fieldset>
					<legend>View Post Details </legend>
				</fieldset>
				<div id="tcontent1">
					<div align="center">
						<table class="table bor-0 width-70">
							<tbody>
								<tr>
									<td>DDO Code</td>
									<td><select name="cmbAsstDDO" id="cmbAsstDDO">
											<option title="Select" value="-1">Select</option>
											<option title="Dayanand Science College, Latur(06340100007)"
												value="06340100007">Dayanand Science College,
												Latur(06340100007)</option>
											<option title="Shri Havagi Swami College, Udgir(06340100013)"
												value="06340100013">Shri Havagi Swami College,
												Udgir(06340100013)</option>
											<option
												title="Pandit Deendayal Upadhyaya College, Deoni(06340100025)"
												value="06340100025">Pandit Deendayal Upadhyaya
												College, Deoni(06340100025)</option>
											<option title="Ujwal Gramin College, Ghonshi(06340100026)"
												value="06340100026">Ujwal Gramin College,
												Ghonshi(06340100026)</option>
											<option title="Shivjagruti College, Nalegaon(06340100028)"
												value="06340100028">Shivjagruti College,
												Nalegaon(06340100028)</option>
											<option title="Mahatma Phule College, Kingaon(06340100030)"
												value="06340100030">Mahatma Phule College,
												Kingaon(06340100030)</option>
											<option title="Adarsha Mahavidyalaya Hingolli(06340100087)"
												value="06340100087">Adarsha Mahavidyalaya
												Hingolli(06340100087)</option>
									</select></td>
									<td><input id="btnFilter" class="buttontag" type="button"
										value="Filter" name="btnFilter"></td>
								</tr>
							</tbody>
						</table>
					</div>
					<br>
					<table class="table bor-0">
						<tbody>
							<tr>
								<td width="20%" align="right"><b><label
										class="captionTag" id="admin.designation">Designation</label></b></td>
								<td width="20%"><select name="designationCmb"
									id="designationCmb" class="selecttag">
										<option value="">------------ Select ------------</option>
										<option value="99100001411">A.C.Technician</option>
										<option value="99100001412">Abhirakshak (Maratha
											Itihas)</option>
										<option value="100668">Account Officer</option>
										<option value="100553">accountant</option>
										<option value="99100001550">Accounts Assistant</option>
										<option value="100682">Accounts Officer</option>
										<option value="99100001390">Animal Care Taker</option>
										<option value="99100001578">Animal House Attendant</option>
								</select></td>
								<td width="20%" align="right"><b><label
										class="captionTag" id="admin.bill">Bill Group</label></b></td>
								<td width="20%"><select name="billCmb" id="billCmb">
										<option value="-1">--------------------Select-------------------</option>
										<option value="882017907001"
											title="Bill for After 1st April 1936-A,B,B N Gz,C,D-Both Permanent">
											Bill for After 1st April 1936-A,B,B N Gz,C,D-Both Permanent</option>
										<option value="882017907002"
											title="Bill for After 1st April 1936-A,B,B N Gz,C,D-Both Permanent  &amp; Temporary">
											Bill for After 1st April 1936-A,B,B N Gz,C,D-Both Permanent
											&amp; Temporary</option>
										<option value="882017907003"
											title="Bill for director of higher education-A,B,B N Gz,C,D-Both Permanent">
											Bill for director of higher education-A,B,B N Gz,C,D-Both
											Permanent</option>
										<option value="882017907004"
											title="Bill for director of higher education-A,B,B N Gz,C,D-Both Permanent  &amp; Temporary">
											Bill for director of higher education-A,B,B N Gz,C,D-Both
											Permanent &amp; Temporary</option>
										<option value="882017907005"
											title="Bill for AIDED ARTS,SC.,COMM. &amp; EDN. STAFF PROV.FUND-A,B,B N Gz,C,D-Both Permanent  &amp; Temporary">
											Bill for AIDED ARTS,SC.,COMM. &amp; EDN. STAFF
											PROV.FUND-A,B,B N Gz,C,D-Both Permanent &amp; Temporary</option>
										<option value="882017907006"
											title="Bill for AIDED ARTS,SC.,COMM. &amp; EDN. STAFF PROV.FUND-A,B,B N Gz,C,D-Both Permanent  &amp; Temporary">
											Bill for AIDED ARTS,SC.,COMM. &amp; EDN. STAFF
											PROV.FUND-A,B,B N Gz,C,D-Both Permanent &amp; Temporary</option>
								</select></td>
								<td><input name="Search" class="btn" value="Search"
									type="button" id="Search"></td>
							</tr>
							<tr>

								<td  colspan="5"><a href="" class="btn"> Add New Entry </a> <a href=""
									class="btn">Renewal Of Post</a></td>
							</tr>
						</tbody>
					</table>
					<table class="table table-bordered" id="row">
						<thead>
							<tr>
								<th class="datatableheader sortable">Sr. No.</th>
								<th class="datatableheader sortable">Employee Name</th>
								<th class="datatableheader">Post Name</th>
								<th class="datatableheader sortable">Post Type</th>
								<th class="datatableheader sortable">Designation</th>
								<th class="datatableheader sortable">Bill Group Name</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>GAJANAN KHUSHALRAO BIRADAR</td>
								<td>Assistant Professor77200097565P</td>
								<td>Permanent Post</td>
								<td>Assistant Professor</td>
								<td>06340100138</td>
							</tr>
							<tr>
								<td>2</td>
								<td>CHETAN ARVINDRAO BAWANE</td>
								<td>Assistant Professor77200097564P</td>
								<td>Permanent Post</td>
								<td>Assistant Professor</td>
								<td>06340100138</td>
							</tr>
							<tr>
								<td>3</td>
								<td>YOGYASHREE SHIVAJIRAO BIRADAR</td>
								<td>Assistant Professor77200097563P</td>
								<td>Permanent Post</td>
								<td>Assistant Professor</td>
								<td>06340100138</td>
							</tr>
							<tr>
								<td>4</td>
								<td>NILKANTH JANARADHANRAO BHANARKAR</td>
								<td>Assistant Professor77200097562P</td>
								<td>Permanent Post</td>
								<td>Assistant Professor</td>
								<td>06340100138</td>
							</tr>
							<tr>
								<td>5</td>
								<td>VACANT</td>
								<td>Assistant Professor77200097561P</td>
								<td>Permanent Post</td>
								<td>Assistant Professor</td>
								<td>06340100138</td>
							</tr>
							<tr>
								<td>6</td>
								<td>SHASHANK VINAYAK MALGE</td>
								<td>Assistant Professor77200097560P</td>
								<td>Permanent Post</td>
								<td>Assistant Professor</td>
								<td>06340100138</td>
							</tr>
						</tbody>
					</table>
				</div>

			</form>
		</div>
	</div>

	<div th:replace="header/menuHeader :: varmenufooter"></div>

</body>
</html>