<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:utext="#{msg.thymeleaf.pageheading.OrganisationInfo}"></title>
</head>
    <style>
        input[type="button" i]:disabled {
    pointer-events: none;
    opacity: 0.6;
}
</style>
<body class="hte-organization-institution-info">
    <div th:replace="header/menuHeader :: var-script-header"></div>
    <div th:replace="header/menuHeader :: varmenuheader"></div>
    <div class="container min-height-600">
        <div class="breadcrumbMain">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#"><span th:utext="#{msg.thymeleaf.pagelabel.masterBD}"></span></a></li>
                    <li class="breadcrumb-item active" aria-current="page"><span th:utext="#{msg.thymeleaf.pageheading.OrganisationInfo}"></span></li>
                </ol>
            </nav>
        </div>
        <h3 Class="PageHeading">
            <span th:utext="#{msg.thymeleaf.pageheading.OrganisationInfo}"></span>
        </h3>
        <div class="pageComtentNew">
        	<div id="content" style="background: :#f0ebe8;">
   

    <form method="post" th:action="@{/level1/saveorgInstituteInfo}" th:object="${orgDdoMstModel}" name="DDOInfo" enctype="multipart/form-data" id="DDOInfo">
        <input type="hidden" id="cmbDdoCode" name="cmbDdoCode" >
        <fieldset class="tabstyle">
            <legend>
                <b>Parent Department</b>
            </legend>
            <table width="100%" align="center" cellpadding="4" cellspacing="4">
                <tbody>
                    <tr>
                        <td width="15%" align="left">Administrative Department
                        </td>
                        <td width="35%">
                            <input type="text" id="txtAdminDept" style="text-transform: uppercase;" size="48" maxlength="90" disabled="disabled" name="txtAdminDept">
                        </td>
                        <td align="left" width="15%">
                            Field Department/HOD Department
                        </td>
                        <td width="35%">
                            <input type="text" id="txtFieldDept" style="text-transform: uppercase;" size="40%" maxlength="90" disabled="disabled" name="txtFieldDept" ><!-- change size from 50% to 40% by Pratik 02-08-23 -->
                        </td>
                    </tr>
                    <tr>
                        <td id="instituteType1" width="15%" align="left">Institute Type </td>
                        <td width="35%">
                            <select name="instituteType" id="instituteType" style="width:360px" disabled="disabled">
                                <option value="-1">-- Select --</option>
                                
                            </select>
                        </td>
                        <td colspan="2" width="50%">&nbsp;
                        </td>
                    </tr>
                </tbody>
            </table>
        </fieldset>
        <br>
        <fieldset class="tabstyle">
            <legend>
                <b>Signing Authority</b>
            </legend>
            <table width="100%" align="center" cellpadding="4" cellspacing="4">
                <tbody>
                    <tr>
                        <td width="15%" align="left">Name
                        </td>
                        <td width="35%">
                            <input type="text" id="txtDDOName" style="text-transform: uppercase" size="48" maxlength="99" name="txtDDOName" disabled="disabled" value="Demoddo" onkeypress="nameFormat(this);">
                            <label class="mandatoryindicator">*</label>
                        </td>
                        <td width="15%" align="left">Designation
                        </td>
                        <td align="left" width="35%">
                            <select name="cmbDesignation" id="cmbDesignation" style="width:360px" disabled="disabled">
                                <option value="-1">-- Select --</option>
                               
                            </select><label class="mandatoryindicator">*</label>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="left" style="font-size : smaller;font-style:italic">Enter Signing Authority i.e. DDO/Organization's Name</td>
                        <td colspan="2">&nbsp;</td>
                    </tr>
                    <tr>
                        <td width="15%" align="left" class="ddoinfowdate">With Effect From Date
                        </td>
                        <td align="left" width="35%">
                            <input type="hidden" name="currDate" id="currDate" >
                            <input type="text" name="txtWEFDate" id="txtWEFDate" size="48" maxlength="10" disabled="disabled" onkeypress="digitFormat(this);dateFormat(this);" onblur="validateDate(this);compareDates(this,currDate,'WEFDate cannot be greater than current date','<');" value="01/08/2003">
                            <img src="images/CalendarImages/ico-calendar.gif" width="20" onclick="window_open(&quot;txtWEFDate&quot;,375,570)" style="cursor: pointer;" }="">
                            <label class="mandatoryindicator">*</label>
                            (DD/MM/YYYY)
                        </td>
                        <td width="15%">&nbsp;</td>
                        <td width="35%">&nbsp;</td>
                    </tr>
                    <tr>
                        <td width="15%" align="left">Tan No.
                        </td>
                        <td align="left" width="35%">
                            <input type="text" id="txtTANNo" style="text-transform: uppercase" size="48" maxlength="10" name="txtTANNo" disabled="disabled" onblur="tanNoValidation();">
                        </td>
                        <td width="15%" align="left">ITO/Ward/Circle
                        </td>
                        <td align="left" width="35%">
                            <input type="text" id="txtITWardCircle" style="text-transform: uppercase" size="48" maxlength="10" name="txtITWardCircle" disabled="disabled">
                        </td>
                    </tr>
                </tbody>
            </table>
        </fieldset>
        <br>
        <fieldset class="tabstyle">
            <legend>
                <b>Bank Details</b>
            </legend>
            <table width="100%" align="center" cellpadding="4" cellspacing="4">
                <tbody>
                    <tr>
                        <td width="15%" align="left">Bank Name
                        </td>
                        <td width="35%" align="left">
                            <select name="cmbBankName" id="cmbBankName" style="width:360px" disabled="disabled">
                                <option value="-1">-- Select --</option>
                                <!-- <option th:each="varAllBankList : ${bankName}"
													th:value="${varAllBankList.bankCode}"
													th:text="${language=='mh' ? varAllBankList.bankName : varAllBankList.bankName}"></option>
										 -->
                            </select>
                            <label class="mandatoryindicator">*</label></td>
                        <td width="15%" align="left">Branch Name
                        </td>
                        <td align="left" width="35%">
                            <select name="cmbBranchName" id="cmbBranchName" style="width:360px" disabled="disabled">
                                <option value="-1">-- Select --</option>
                                <!-- <option
													th:each="varAllBankbranchList : ${lstAllBankBranchList}"
													th:value="${varAllBankbranchList[0]}"
													th:text="${language=='mh' ? varAllBankbranchList[1] : varAllBankbranchList[1]}"></option> -->
                            </select>
                            <label class="mandatoryindicator">*</label>
                        </td>
                    </tr>
                    <tr>
                        <td width="15%" align="left">IFS Code</td>
                        <td align="left" width="35%">
                            <input type="text" id="txtIFSCCode" style="text-transform: uppercase;" disabled="disabled" readonly="readonly" size="48" maxlength="20" name="txtIFSCCode">
                        </td>
                        <td width="15%" align="left">Bank Acc. No.
                        </td>
                        <td align="left" width="35%">
                            <input type="text" id="txtAccountNo" style="text-transform: uppercase" size="48" maxlength="20" name="txtAccountNo" onkeypress="digitFormat(this);" disabled="disabled" onblur="validateAccLength();checkAccountno();" >
                            <label class="mandatoryindicator">*</label>
                        </td>
                    </tr>
                    <tr>
                        <td width="15%" align="left">Remarks</td>
                        <td align="left" width="35%">
                            <input type="text" id="txtRemarks" style="text-transform: uppercase" size="48" maxlength="100" name="txtRemarks" disabled="disabled" >
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                </tbody>
            </table>
        </fieldset><br>
        <table width="20%" align="center" height="10%" cellpadding="0" cellspacing="0">
            <tbody>
                <tr></tr>
                <tr></tr>
                <tr>
                    <td width="50%" align="center">
                        <input type="button" name="btnSave"  id="btnSave" value="Save" size="3" maxlength="3" class="buttontag">
                    </td>
                    
                    <td width="50%" align="center">
                    <a th:href = "@{/level1/editorgInstituteInfo}" >
                        <input type="button" name="btnedit"  id="btnedit" value="Edit" size="3" maxlength="3" class="buttontag"></a>
                    </td>
                    <td width="50%" align="center">
                        <input type="button" name="btnClose" id="btnClose" value="Back" size="3" maxlength="3" class="buttontag">
                    </td>
                </tr>
            </tbody>
        </table>
        <script language="JavaScript">
        setForm('DDOInfo');
        </script>
    </form>
    
</div>
        </div>
    </div>
    <div th:replace="header/menuHeader :: varmenufooter"></div>
</body>

</html>