<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title th:utext="#{msg.thymeleaf.pageheading.bankMaster}"></title>
<style type="text/css">

</style>
</head>
<body class="mst-bank">
	<div th:replace="header/menuHeader :: var-script-header"></div>
	<div th:replace="header/menuHeader :: varmenuheader"></div>
	<div class="container min-height-600">
	<div class="breadcrumbMain">
				<nav aria-label="breadcrumb">
				  <ol class="breadcrumb">
				<!--   <li class="breadcrumb-item homelinkbd"><a href="#">Home</a></li> -->
				    <li class="breadcrumb-item"><a href="#"><span  th:utext="#{msg.thymeleaf.pagelabel.masterBD}"></span></a></li>
				    <li class="breadcrumb-item active" aria-current="page"><span   th:utext="#{msg.thymeleaf.pageheading.bankMaster}"></span></li>
				  </ol>
				</nav>
			</div>
			<h3 Class="PageHeading"><span  th:utext="#{msg.thymeleaf.pageheading.bankMaster}"></span></h3>
		
		<fieldset class="container">
		</fieldset>
	</div>

	<div th:replace="header/menuHeader :: varmenufooter"></div>
 	<script th:src="@{/js/project/mst-bank.js}"></script> 
</body>
</html>