<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title th:utext="#{msg.thymeleaf.pageheading.rejectContriview}"></title>
<style type="text/css">
</style>
</head>
<body class="view-rejected-contri">
	<div th:replace="header/menuHeader :: var-script-header"></div>
	<div th:replace="header/menuHeader :: varmenuheader"></div>
	<div class="container min-height-600">
		<div class="breadcrumbMain">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<!--   <li class="breadcrumb-item homelinkbd"><a href="#">Home</a></li> -->
					<li class="breadcrumb-item"><a href="#"><span
							th:utext="#{msg.thymeleaf.pagelabel.masterBD}"></span></a></li>
					<li class="breadcrumb-item active" aria-current="page"><span
						th:utext="#{msg.thymeleaf.pageheading.rejectContriview}"></span></li>
				</ol>
			</nav>
		</div>
		<h3 Class="PageHeading">
			<span th:utext="#{msg.thymeleaf.pageheading.rejectContriview}"></span>
		</h3>

		<div class="formMainwithNoborTb container">
			<fieldset class="tabstyle">
				<legend>
					<b>Input Details For Contribution</b>
				</legend>
				<table class=" bor-0">
					<tbody>
						<tr>
							<td style="font-style: italic; color: red; padding-left: 1%"
								colspan="5">DCPS Delayed, DCPS DA Arrear, DCPS Pay arrear
								need to be given from this screen if applicable. Monthly DCPS
								Regular contributions will be automatically calculated in
								Paybill.</td>
						</tr>
						<tr>
							<td style="font-style: italic; color: red; padding-left: 1%"
								colspan="5">Save the contributions carefully. Saved
								contributions will reflect in Paybill on generation.</td>
						</tr>
					</tbody>
				</table>
				<table class="table bor-0">
					<tbody>
						<tr>
							<td width="15%"><b>Treasury Name</b></td>
							<td width="35%"><select name="cmbTreasuryCode"
								id="cmbTreasuryCode">
									<option value="3401" title="NANDED ,DISTRICT TREASURY OFFICE">NANDED
										,DISTRICT TREASURY OFFICE</option>
							</select> <label class="mandatoryindicator">*</label></td>
						</tr>
						<tr>
							<td width="15%"><b>DDO Name</b></td>
							<td width="35%"><select name="cmbDDOCode" id="cmbDDOCode">
									<option value="06340100116"
										title="Swami Ramanand Teerth Marathwada University Nanded">Swami
										Ramanand Teerth Marathwada University Nanded</option>
							</select> <label class="mandatoryindicator">*</label></td>
						</tr>
						<tr>
							<td width="15%"><b>Bill Group</b></td>
							<td width="35%"><select name="cmbBillGroup"
								id="cmbBillGroup">
									<option value="-1" title="-- Select --">-- Select --</option>
									<option value="99201790770" selected="selected"
										title="Bill Group For Scheme IA-GRANTS TO UNIVERSITIS FOR GENERAL EDUCATION">Bill
										Group For Scheme IA-GRANTS TO UNIVERSITIS FOR GENERAL
										EDUCATION</option>
									<option value="992017907106"
										title="Bill Group For Scheme IA.1-GRANT TO NON-GOVT.  ARTS  , SCIENCE, COMMERCE ,LAW AND B.ED COLLEGES">Bill
										Group For Scheme IA.1-GRANT TO NON-GOVT. ARTS , SCIENCE,
										COMMERCE ,LAW AND B.ED COLLEGES</option>
							</select> <label class="mandatoryindicator">*</label></td>
							<td width="15%"><b>Scheme</b></td>
							<td width="35%"><input type="text" name="txtSchemeName"
								id="txtSchemeName"
								value="IA-GRANTS TO UNIVERSITIS FOR GENERAL EDUCATION">
								<label class="mandatoryindicator">*</label></td>
						</tr>
						<tr>
							<td width="15%"><b>Sub Scheme</b></td>
							<td width="35%"><input type="text" name="txtSubSchemeName"
								id="txtSubSchemeName" value=""> <label
								class="mandatoryindicator">*</label></td>
						</tr>
						<tr>
							<td width="15%"><b>Pay Month</b></td>
							<td width="35%"><select name="cmbMonth" id="cmbMonth">
									<option value="-1">-- Select --</option>
									<option value="1">January</option>
									<option value="2">February</option>
									<option value="3">March</option>
									<option value="4" selected="selected">April</option>
									<option value="5">May</option>
							</select> <label class="mandatoryindicator">*</label></td>
							<td width="15%"><b>Pay year</b></td>
							<td width="35%"><select name="cmbYear" id="cmbYear">
									<option value="-1">-- Select --</option>
									<option value="21">2008-2009</option>
									<option value="35">2022-2023</option>
									<option value="36">2023-2024</option>
									<option value="37" selected="selected">2024-2025</option>
							</select> <label class="mandatoryindicator">*</label></td>
						</tr>
					</tbody>
				</table>
				<br>

				<table class="table bor-0">
					<tbody>
						<tr>
							<td id="go" align="center"><input type="button" name="btnGo"
								id="btnGo" value="GO" class="buttontag btn"> <input
								type="button" name="btnCancel" onclick="history.back()"
								id="btnCancel" value="Cancel" size="3" maxlength="3"
								class="buttontag btn"></td>
						</tr>
						<tr>
							<td style="color: red; font-family: bold; font-weight: bold;">NOTE
								: If you don't need NPS employer contribution in paybill then
								make this value as '0' in DCPS Delayed, DCPS DA Arrear and DCPS
								PAY Arrear.</td>
						</tr>
					</tbody>
				</table>
			</fieldset>
		</div>
	</div>


	<div th:replace="header/menuHeader :: varmenufooter"></div>
</body>
</html>